.root {
    padding: 32px;
}

.btn {
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: var(--primary-btn-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .2s ease;
    margin-top: 8px;
}

.btn:hover {
    background-color: var(--primary-btn-hover-color);
}