.root {
    padding: 20px;
    color: #fff;
}

.historyTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    .historyTable th,
    .historyTable td {
        padding: 12px;
        border: 1px solid #555;
    }

    .historyTable th {
        background-color: #333;
    }

    .historyTable tr:nth-child(even) {
        background-color: #444;
    }

    .historyTable tr:hover {
        background-color: #555;
    }
