.root {
    padding: 8px;
    line-height: 0;
    border: 0;
    background-color: inherit;
    cursor: pointer;
    border-radius: 64px;
    transition: .2s background-color;
}


.root:hover {
    background-color: var(--icon-btn-hover-color);
}

.root:active {
    background-color: var(--icon-btn-active-color);
}

.chipVariant {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border: 1px solid hsl(0, 0%, 90%);
    /* background-color: var(--icon-btn-hover-color); */
}

.chipVariant>svg {
    margin-right: 4px;
}